
.wrapper{
    background-color: rgba(165, 42, 42, 0.226);
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
[class*="__text"]{
    max-width: 500px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.icons,
.content{
    margin-bottom: 15px;
}

.icons__items {
    font-size: 0;
    display: inline-block;
}
.icons__items img{
    vertical-align: middle;
}
.icons__items img:not(:last-child){
    margin-right: 10px;
}

.icons__items img:nth-child(12){
    background-color: aliceblue;
}

.content__items {
    font-size: 0;
    display: inline-block;
          
}
.content__items img,
.design__container,
.design__text{
    border-radius: 15px;
}
.content__items img{
    max-height: 300px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.content__items img:not(:last-child){
    margin-right: 10px;
}
.design__container{
    background: url(../img/elements/element1.svg) fixed , url(../img/elements/background.webp) 50% / cover no-repeat ;
}

.design__text{
    color: aliceblue;
    backdrop-filter: blur(3px);
    padding-bottom: 400px;
    background:  url(../img/elements/element2.svg) right bottom no-repeat,url(../img/elements/element4.svg) bottom no-repeat,url(../img/elements/element5.svg) left bottom no-repeat,url(../img/elements/element6.svg) left center no-repeat, url(../img/elements/element7.svg) right center no-repeat,url(../img/elements/element3.svg)  center no-repeat, rgba(0, 0, 0, 0.747);
}