body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color:#9C9C9C;
    
}

[class*="__container"]{
    max-width: 1230px;
    padding: 0 15px;   
    margin: 0 auto;
}
.wrapper {
    overflow: clip;
	min-height: 100%;
}
.wrapper__header {
    height: 100px;
    margin-bottom: 97px;
}
.header__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.header__item{
    flex: 1 1 130px;
}
.logo {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.logo__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.7;
    color: #000000;
    opacity: 0;
    animation: logo-text 0.8s linear forwards;
}
@keyframes logo-text {
    
    100%{
        opacity: 1;
    }
    
}

.logo__img {
    position: absolute;
    bottom: -100%;
    left: 54px;
    animation: logo-img 0.8s linear forwards;
}
@keyframes logo-img {
    90%{
    bottom:9px;
    }
    95%{
        bottom:3px;
    }
    100%{
    bottom:6px;
    }
    
}

.header__menu {
    margin-right: 64px;
    padding-bottom: 14px; /* чогось іншими методами не стає по макету*/
}
.menu {
    font-weight: 400;
    font-size: 16px;  
    color: #333333;
}

.menu__item {
    display: inline-block;
    
}
.menu__item_active{
    font-weight: 600;
}
.menu__item:not(:last-child){
    margin-right: 74px;
}
.menu__link:hover {
    text-shadow: 1px 2px 3px #000000;
}
.header__btn {
    background: #2C3878;
    border: 1px solid #3C3C3C;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 14px 32px;
    transition: all 0.3s;
}
.header__btn:hover{
    background: #FFFFFF;
    color: #2C3878;
}


.page__minimalist{
    margin-bottom: 100px;
}
.block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 36px;
    
}
.block__text {
    max-width: 518px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-bottom: 57px;
}
.block__img {
    flex: 0 1 auto;
    overflow: hidden;
}
.block__img img{
    width: 100%;
    transition: all 0.3s;
}
.block__img:hover img{
    transform: scale(1.01);
}


.page__project{
    margin-bottom: 100px;
}
.project__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4.5%;
    margin-bottom: 80px;
}
.project__body {
    flex: 0 1 50%;
}
.body-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-project p{
    flex: 1 1 auto;
}
.body-project__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}
.body-project__items {
    display: flex;
    justify-content: space-between;
}

.project__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin: 0 -16px;
}
.project__image {
    flex: 0 1 auto;
    padding: 0 16px;
    overflow: hidden;
}
.project__image img{
    width: 100%;
    transition: all 0.3s;
}
.project__image_full {
    flex: 0 1 auto;
    height: 513px;
}
.project__image_full img{
    width: 100%;
}
.test{
    overflow: hidden;
}
.project__image:hover img{
    transform: scale(1.01);
}

/* якось можна пофіксити скейл картинки, бо через падінги вона побоках
    вилазить... Чи це можливо при побудові іншої сітки?
     */

.page .project + div{
        height: 1px;
    }