body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color:#9C9C9C;
    width: 100%;
}

[class*="__container"]{
    max-width: 1230px;
    padding: 0 15px;   
    margin: 0 auto;
}
.wrapper {
    overflow: clip;
	min-height: 100%;
}
.wrapper__header {
    min-height: 100px;
    margin-bottom: 97px;
}
.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__item{
    flex: 1 1 130px;
}
.logo {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.logo__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.7;
    color: #000000;
    opacity: 0;
    animation: logo-text 0.8s linear forwards;
}
@keyframes logo-text {
    
    100%{
        opacity: 1;
    }
    
}

.logo__img {
    position: absolute;
    bottom: -100%;
    left: 54px;
    animation: logo-img 0.8s linear forwards;
}
@keyframes logo-img {
    90%{
    bottom:9px;
    }
    95%{
        bottom:3px;
    }
    100%{
    bottom:6px;
    }
    
}

.header__menu {
    flex: 0 1 500px;
    margin-right: 64px;
}
.menu {
    
    font-weight: 400;
    font-size: 16px;  
    color: #333333;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.menu__item {
    /* display: inline-block; */
    flex: 0 1 90px;
}
.menu__item_active{
    font-weight: 600;
}
.menu__item:not(:last-child){
    /* margin-right: 74px; */
}
.menu__link:hover {
    text-shadow: 1px 2px 3px #000000;
}
.menu__toggle{
    display: none;
}

.menu__toggle--visible + .menu__list {
    display: block; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    }
.menu__toggle--visible + .menu__list li{
    background-color: #5f5f5f25;
    border-radius: 50%;
}
.menu__toggle--visible + .menu__list li:not(:last-child){
    margin-bottom: 5px;
}
@media (max-width: 920px) {
    .menu__list {
    display: none; 
    }
    .menu__toggle {
    display: block; 
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    width: 100%;
    }
    .header__menu{
        margin-right: 0;
        position: relative;
    }
    
}
@media (max-width: 450px){
    .wrapper__header{
        margin-bottom: 20px;
    }
    .header__container{
        display: block;
        text-align: center;
    }
    .header__menu,
    .header__wrapper-btn{
        display: inline-block;
    }
    .menu__toggle{
        font-size: 14px;
        border: 1px solid #3C3C3C;
        padding: 14px 32px;
    }
    .body-achievement{
        display: block;
    }
    .menu__toggle--visible + .menu__list{
        background-color: #ffffff;
        width: 230%;
    }
    .menu__toggle--visible + .menu__list li{
        font-size: 18px;
    }
}



.header__wrapper-btn{
    flex: 0 0 150px;
}
.header__btn {
    display: inline-block;
    background: #2C3878;
    border: 1px solid #3C3C3C;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 14px 32px;
    transition: all 0.3s;
}
.header__btn:hover{
    background: #FFFFFF;
    color: #2C3878;
}

.page__services{
    margin-bottom: 100px;
}

.block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 36px;
    
}
.block__text {
    max-width: 518px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-bottom: 57px;
}
.block__img {
    flex: 0 0 67.5%;
    overflow: hidden;
}
.block__img img{
    width: 100%;
    transition: all 0.3s;
}
.block__img:hover img{
    transform: scale(1.01);
}
.page .achievement + div{
    height: 1px;
}
.page__achievement {
    margin-bottom: 100px;
}
.achievement__container > *:not(:last-child){
    margin-bottom: 40px;
}

.achievement__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.achievement__title::after{
    content: "";
    display: block;
    width: 464px;
    height: 2px;
    background-color: #000000;
    
    
}

.body-achievement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.body-achievement__img {
    overflow: hidden;
    flex: 0 0 62.16%;
    
}
.body-achievement__img img{
    width: 100%;
    transition: all 0.3s;
}
.body-achievement__img:hover img{
    transform: scale(1.01);
}
.body-achievement__text {
    flex: 0 1 334px;
}
.body-achievement__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
    margin-bottom: 20px;
}

@media (max-width: 450px){

    .body-achievement{
        display: block;
    }
}