*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: Poppins;
  color: #495057;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f8f9fa;
  height: 100%;
}

@media (max-width: 47.99875em) {
  body._lock {
    overflow: hidden;
  }
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

[class*=__container_medium] {
  max-width: 51rem;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 1.5s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 1.5s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 1.5s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 1.5s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.wrapper__header {
  position: relative;
}

.header__block {
  position: fixed;
  z-index: 10;
  color: #fff;
  display: grid;
  grid-template-columns: 6.25rem 1fr 7.25rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 1.5625rem);
  max-width: 77.5rem;
  padding: 2.25rem 0;
}
.header__block::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6.25rem;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
@media (max-width: 26.5625em) {
  .header__block::before {
    height: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .header__block {
    grid-template-columns: 4.375rem 7.5rem auto 1.875rem;
  }
}
@media (max-width: 26.5625em) {
  .header__block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0.375rem 0;
  }
  .header__block > :first-child {
    grid-area: 1/1/2/4;
    text-align: center;
  }
  .header__block > :nth-child(2) {
    grid-area: 2/3/3/4;
  }
  .header__block > :nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .header__block > :nth-child(4) {
    grid-area: 3/-4/-1/-1;
  }
}
.header__logo {
  color: #495057;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4; /* 138.889% */
  position: relative;
  z-index: 1;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(73, 80, 87, 0.5);
  font-weight: 500;
  line-height: 2.08; /* 208.333% */
}
@media (max-width: 26.5625em) {
  .header__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__menu .menu__arrow {
  display: block;
  background: url(../img/icons/submenugrey.svg) no-repeat center;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}
.header__menu .menu__item_active {
  color: #495057;
}
.header__menu .menu__icon {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__menu .menu__icon {
    display: block;
    z-index: 7;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }
  .header__menu .menu__icon span, .header__menu .menu__icon::before, .header__menu .menu__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background-color: #000000;
  }
  .header__menu .menu__icon::before, .header__menu .menu__icon::after {
    content: "";
  }
  .header__menu .menu__icon::before {
    top: 0;
  }
  .header__menu .menu__icon::after {
    bottom: 0;
  }
  .header__menu .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__menu .menu__icon._active::before {
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
    top: 50%;
  }
  .header__menu .menu__icon._active::after {
    -webkit-transform: rotate(-45deg) translate(0px, 50%);
        -ms-transform: rotate(-45deg) translate(0px, 50%);
            transform: rotate(-45deg) translate(0px, 50%);
    bottom: 50%;
  }
  .header__menu .menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__menu .menu__body._active {
    left: 0;
  }
  .header__menu .menu__body {
    position: fixed;
    overflow: auto;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: left 300ms;
    transition: left 300ms;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (max-width: 26.5625em) {
  .header__menu .menu__body {
    padding-top: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .header__menu .menu__body::before {
    content: "";
    position: fixed;
    -webkit-transition: left 300ms;
    transition: left 300ms;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.25rem;
    background-color: #ffffff;
    z-index: 2;
  }
  .header__menu .menu__body::after {
    content: "";
    position: fixed;
    -webkit-transition: left 300ms;
    transition: left 300ms;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    z-index: -1;
  }
  .header__menu .menu__body._active::before, .header__menu .menu__body._active::after {
    left: 0;
  }
  .header__menu .menu__body .menu__list {
    display: block;
    padding-right: 0;
  }
  .header__menu .menu__body .menu__list > li:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
  .header__menu .menu__body .menu__list > li {
    font-size: 1.5rem;
  }
  .header__menu .menu__body .menu__arrow {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
  .header__menu .menu__body .menu__item_pointer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu .menu__body .menu__item_pointer .menu__link {
    margin-right: 0;
  }
  .header__menu .menu__body .menu__sub-menu {
    display: none;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0.625rem;
    padding-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .header__menu .menu__body li._active .menu__sub-menu {
    display: block;
  }
}
.header .menu__item:hover .menu__link {
  color: #070707;
}
.header .menu__item:hover .menu__link::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.header__socials {
  color: rgba(73, 80, 87, 0.5);
  font-weight: 500;
  padding-right: 0.9375rem;
  margin-right: 0.9375rem;
  line-height: 2.08;
  border-right: 1px solid rgb(229, 229, 229);
}
@media (max-width: 47.99875em) {
  .header__socials {
    border-right: none;
    padding-right: 0;
    font-size: 1.125rem;
  }
}
.header__form {
  color: rgba(73, 80, 87, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  font-weight: 500;
}
@media (min-width: 47.99875em) {
  .header__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 47.99875em) {
  .header__form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 0.9375rem;
  }
  .header__form input {
    position: relative;
    max-width: none;
  }
}
@media (max-width: 26.5625em) {
  .header__form {
    margin-right: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 47.99875em) {
  .header__form > :not(:last-child) {
    margin-right: 1.5625rem;
  }
}
@media (max-width: 26.5625em) {
  .header__form > :not(:last-child) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 0.9375rem;
  }
}

.form-header__label {
  cursor: pointer;
}

.form-header__input {
  display: none;
  position: absolute;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  top: 50%;
  max-width: 15.625rem;
  color: #f8f9fa;
  background-color: #212529;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
}
@media (max-width: 47.99875em) {
  .form-header__input {
    margin-right: 1.875rem;
    width: 100%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 0;
  }
}

.form-header__input._active {
  display: block;
}

.form-header__label img {
  vertical-align: middle;
}
@media (max-width: 47.99875em) {
  .form-header__label img {
    width: 1.5625rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
.menu__item_pointer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item_pointer .menu__link {
  margin-right: 0.3125rem;
}
.menu__item_pointer:hover .menu__sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
          transform: translateY(0rem);
  pointer-events: all;
}
.menu__link {
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #ddbea9;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.menu__sub-menu {
  position: absolute;
  color: rgba(248, 249, 250, 0.5);
  opacity: 0;
  top: 1.25rem;
  -webkit-transform: translateY(1.25rem);
      -ms-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow: hidden;
  border-radius: 0.3125rem;
  pointer-events: none;
  z-index: 1;
  padding-top: 2.5rem;
}
@media (min-width: 47.99875em) {
  .menu__sub-menu {
    max-width: 12.5rem;
  }
}

.sub-menu__list {
  padding: 1.25rem;
  background-color: rgb(33, 37, 41);
  border-radius: 0.3125rem;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__item:hover .sub-menu__link {
  color: #f8f9fa;
}
.sub-menu__link {
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.page__full {
  color: #495057;
  margin-bottom: 5rem;
}

.full__block > :not(:last-child) {
  margin-bottom: 6.25rem;
}
.full__block .text-block__title {
  max-width: 31.1875rem;
  text-transform: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.full__block .text-block__title:hover {
  color: #ddbea9;
}
.full__block .text-block__title a {
  display: block;
}
.full__block p {
  max-width: 24.5625rem;
}

.block__img {
  position: relative;
  padding: 15.625rem;
}
.block__img img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.block__text-block {
  position: relative;
  padding: 14.8125rem 0 0;
}
.block__text-block > :not(:last-child) {
  margin-bottom: 0.9375rem;
}

.text-block__title {
  font-size: 1.5625rem;
  font-weight: 700;
  text-transform: capitalize;
}
.text-block__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1.0625rem;
}
.text-block__bottom .text-block__line {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.0625rem;
  max-width: 64.25rem;
  width: 120%;
  background-color: rgb(229, 229, 229);
}
.text-block__bottom > :not(:last-child) {
  margin-right: 3.125rem;
}
.page__blog {
  color: #6c757d;
  font-size: 0.875rem;
  line-height: 1.8;
}
.page__blog p:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 26.5625em) {
  .page__blog p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.blog__container_medium {
  margin-bottom: 5rem;
}
@media (max-width: 26.5625em) {
  .blog__container_medium {
    margin-bottom: 1.875rem;
  }
}
.blog__img {
  position: relative;
  padding-bottom: 32%;
  border-radius: 0.3125rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
@media (max-width: 26.5625em) {
  .blog__img {
    margin-bottom: 1.875rem;
    padding-bottom: 50%;
  }
}
.blog__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-bottom: 5rem;
}
@media (max-width: 26.5625em) {
  .blog__gallery {
    margin-bottom: 1.875rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c757d;
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
}

.text-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-bottom: 0.9375rem;
}
.text-block__info > :nth-child(2) {
  position: relative;
}
.text-block__info > :nth-child(2)::before, .text-block__info > :nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0.9375rem;
  height: 0.0625rem;
  background-color: #e5e5e5;
}
.text-block__info > :nth-child(2)::before {
  left: -60%;
}
.text-block__info > :nth-child(2)::after {
  right: -60%;
}
.text-block__author {
  font-weight: 700;
  text-transform: capitalize;
}
.text-block__title {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.6;
  color: #212529;
  margin-bottom: 2.5rem;
}
@media (max-width: 26.5625em) {
  .text-block__title {
    margin-bottom: 1.25rem;
  }
}

.page__slider {
  margin-bottom: 6.25rem;
  display: grid;
}
.page__slider .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #6c757d;
}
.page__slider .swiper-pagination-bullet-active {
  background-color: #070707;
  border: 1px solid #070707;
}

.slider__block .block__img {
  padding: 12.5rem 18.75rem;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 77.5em) {
  .slider__block .block__img {
    padding: 12.5rem 12.5rem;
  }
}
.slider__pagination {
  bottom: -1.875rem !important;
}

.item-blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}
.item-blog__link {
  display: block;
  padding: 0.125rem 0.8125rem;
  border: 0.0625rem solid rgb(196, 196, 196);
  border-radius: 0.1875rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-blog__link:hover {
  color: #e5e5e5;
  background-color: #6c757d;
}
.item-blog__share {
  padding-left: 0.9375rem;
  background: url(../img/icons/share.svg) no-repeat center left;
}

.page__pages-navigation {
  background-color: rgba(94, 94, 94, 0.05);
  padding: 2.375rem 0;
}

.pages-navigation__menu .menu__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
}
@media (max-width: 20em) {
  .pages-navigation__menu .menu__list {
    font-size: 0.75rem;
  }
}
.pages-navigation__menu .menu__link_left {
  position: relative;
  padding-left: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pages-navigation__menu .menu__link_left:hover::before {
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.pages-navigation__menu .menu__link_left::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0;
  background: url(../img/icons/arrow-long-left.svg) no-repeat;
  width: 1.375rem;
  height: 0.5625rem;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pages-navigation__menu .menu__link_right {
  position: relative;
  padding-right: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pages-navigation__menu .menu__link_right:hover::after {
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.pages-navigation__menu .menu__link_right::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  right: 0;
  background: url(../img/icons/arrow-long-right.svg) no-repeat;
  width: 1.375rem;
  height: 0.5625rem;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper__footer {
  padding: 2.5rem 0;
  background-color: #212529;
  color: rgba(248, 249, 250, 0.5);
}
.wrapper__footer .menu__item:hover .menu__link {
  color: #f8f9fa;
}
.wrapper__footer .menu__item:hover .menu__link::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 0.0625rem solid rgba(229, 229, 229, 0.2);
  row-gap: 1.25rem;
}
@media (max-width: 35.625em) {
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__top > :not(:last-child) {
  margin-right: 0.625rem;
}
.top-footer__logo {
  color: #f8f9fa;
  font-size: 1.125rem;
  margin-right: 0.625rem;
  font-weight: 700;
  line-height: 1.4; /* 138.889% */
}
.top-footer__menu .menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-footer__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 35.625em) {
  .bottom-footer__menu .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}